*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product{
    margin: auto;
    max-width: 300px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #333;
}

img{
    max-width: 100%;
}

